.main {
  &-header {
    display: flex;
    justify-content: space-between;

    h5 {
      font-weight: 600;
    }

    &-info {
      h5 {
        color: $darkgrey;
      }

      h2 {
        font-weight: 800;
        color: $black;

        em {
          color: $yellow;
        }
      }
    }

    &-balance {
      h5 {
        color: lighten($blue, 10%);
      }

      h2 {
        font-weight: 800;
        color: $blue;
        line-height: 18px;
      }

      p {
        color: $darkgrey;
        font-size: 1.5rem;

        span {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .main {
    &-header {
      flex-direction: column;

      &-balance {
        margin-top: 20px;
      }
    }
  }
}
