.ant {
  &-layout-sider {
    background: $black !important;
  }

  &-layout-sider-main {
    margin-bottom: 100px;
    padding-left: 50px;

    img {
      color: $white;
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }

  &-menu {
    border: none !important;

    &-item-selected {
      color: $white !important;
      background: transparent !important;
      border: none;
      font-weight: bold;
      outline: none;

      &::after {
        left: 0;
        width: 20px;
        border-left: 4px solid lighten($yellow, 10%);
        border-right: none !important;
      }
    }

    &-item {
      color: $grey;
      font-size: 1.6rem;
      padding: 0 50px !important;
      margin: 0 !important;
      display: flex !important;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        font-size: 1.5rem;
      }

      .fa-arrow-right {
        display: inline-block;
        font-size: 1.8rem;
        color: $grey;
      }
    }

    hr {
      display: inline-block;
      width: 60px;
      margin-left: 50px;
      margin-top: 20px;
      margin-bottom: 10px;
      border: 1px dashed $black;
      border-top: 2px dashed $yellow;
    }
  }

  &-layout-sider-children .quote {
    margin-left: 50px;
    margin-top: 150px;
    width: 250px;
    opacity: 0.8;

    blockquote {
      position: relative;
      display: inline-block;
      border: 1px solid lighten($grey, 10px);
      padding: 20px 30px;
      border-radius: 10px;
      z-index: 1;
      height: 130px;
      display: flex;
      align-items: center;

      img {
        position: absolute;
        left: -30px;
        width: 60px;
        height: 60px;
        object-fit: contain;
      }

      p {
        font-size: 1.3rem;
        color: $white !important;
        padding-left: 20px;
        strong {
          display: block;
        }
      }
    }
  }
}
